* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background-color: #f6f9fc;
}
/*
 *  ============= Cool button css component =================
*/
.cool-button {
    --cb-color: white;
    --cb-bg-color1: rgb(131,241,255);
    --cb-bg-color2: rgba(9,110,254,1);
    --cb-bg-color3: rgba(31,250,209,1);

    border: none;
    
    color: var(--cb-color);
    background: var(--cb-bg-color1);
    background: linear-gradient(330deg, var(--cb-bg-color1) 5%, var(--cb-bg-color2) 52%, var(--cb-bg-color3) 91%);
    box-shadow: rgba(50, 50, 93, 0.15) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.2) 0px 18px 36px -18px inset;
}

.cool-button:disabled {
    cursor: not-allowed;
    filter: grayscale(1)
}

.cool-button:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.cool-button:active {
    outline-offset: 1px;
    outline: .5px solid var(--cb-bg-color2);
}

.cool-button:focus-visible{
    outline: 2px solid var(--cb-bg-color2);
}

/*
 *  ============= Form  =================
*/
form {
    position: relative;
    width: max-content;
    height: max-content;
    padding: 24px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 16px;
    background-color: white;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    animation: fadein 1s ease-out;
}

form::after {
    content: '';
    position: absolute;
    top: 4px;
    right: 4px;
    display: block;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
    width: 24px;
    height: 24px;
}

form#signup_form::after {
    background-image: url('./icons/signup-icon.svg');
}

form#signin_form::after {
    background-image: url('./icons/signin-icon.svg');
}

form:has(input[type=submit]:disabled) {
    background-color: #fcfcfc;
}

/* fade-in effect for hiding layout bouncing while adding constraint components */
@keyframes fadein {
    0% {
        opacity: 0;
    } 
    30% {
        opacity: 0;
    } 
    100% {
        opacity: 1;
    }
}

/*
 *  ============= Form fields =================
*/
form input {
    width: 100%;
    height: 32px;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 6px;
    box-shadow: rgba(50, 50, 93, 0.15) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.2) 0px 18px 36px -18px inset;
}

form input:last-child {
    margin-top: 24px;
}

form input:focus-visible {
    outline: 1px solid #83cfff;
}

form input.valid {
    box-shadow: rgb(129 208 254 / 15%) 0px 30px 60px -12px inset, rgb(165 255 232 / 20%) 0px 18px 36px -18px inset
}

form .field_caption {
    color:#425977;
    font-size: medium;
    padding: 4px;
    padding-top: 10px;
}

form#signup_form .field_caption:has(+input:required)::after, 
form#signup_form .field_caption:has(+input.show_password)::after {
    content: '*';
    font-weight: normal;
    color: #ff6c00;
}

form input.show_password {
    position: absolute;
    border: none;
    right: 24px;
    width: 32px;
    background-image: url('./icons/eye-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 16px;
    opacity: .5;
}

form input.show_password.visible {
    background-image: url('./icons/eye-slash-icon.svg');
}

form input.show_password+input {
    padding-right: 32px;
}

/*
 *  ============= Constraint component =================
*/
form .constraints {
    padding: 4px 0;
}

form .constraint {
    display: grid;
    grid-template-columns: 2ch auto;
    padding-bottom: 2px;
}

form .descr {
    color: #7b7b7b;
    font-size: 11px;
}

form .status {
    font-size: 9px;
    margin: auto auto;
}